.App {
  font-family: serif;

  * {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .header {
    text-align: center;
    margin: 20px 0;

    .admin {
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      text-align: center;
      margin: 10px 0;
      padding: 10px 0;

      button {
        margin-right: 10px;
        cursor: pointer;
        padding: 0 5px;
        min-width: 5em;
      }
    }
  }

  .offline {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  .main {
    width: 55%;
    min-width: 400px;

    @media(max-width: 800px) {
      width: 80%;
    }

    @media(max-width: 520px) {
      width: 98%;
    }

    margin: auto;


    .item {

      margin: 5px 0;
      height: 1.5em;

      .item-col {
        display: inline-block;
        overflow: hidden;
        height: 1em;
        padding: 3px 0 3px 7px;
        margin-right: 10px;
        border-radius: 8px;
        background-color: rgb(201, 211, 224);

        &.description {
          width: 45%;
        }

        &.code {
          width: 3em;
        }

        &.rate {
          width: 4em;
        }

        &.my-rate {
          width: 4em;
        }
      }
    }

    .item-edit {

      .select {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid black;
        margin-right: 5px;
        cursor: pointer;

        &.active {
          background-color: blue;
        }
      }

      .input {
        display: inline-block;
        width: 45%;
        padding: 1px 2px;
        margin-right: 5px;
        pointer-events: none;

        &.description {
          width: 30%;
        }

        &.code {
          width: 3em;
        }

        &.rate {
          width: 4em;
        }

        &.my-rate {
          width: 4em;
          pointer-events: all;
        }

      }

      .enable {
        background-color: green;
        color:white;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        width: 1.2em;
        height: 1.2em;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        font-size: 0.9em;
        top: -1px;
        &.disable{
          background-color: red;
        }
      }
    }
  }
}